.contact .contact-content .column {
  width: 75%;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  outline: none;
  padding: 0 10px;
  font-size: 18px;
  // font-family: "Poppins", sans-serif;
}

.contact .right form .textarea textarea {
  resize: none;
  border: none;
}

.contact .right form .button {
  height: 48px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #a79d9e;
  background: transparent;
  color: #e7e7e7;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover {
  color: #eb9f0c;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: .5s;
}

.row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #a79d9e;
}

.row100 .inputBox input,
.row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #121218;
}

.row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: .5s;
  pointer-events: none;
}

.row100 .inputBox input:focus + .text,
.row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #a79d9e;
  transition: .5s;
  border-radius: 2px;
  pointer-events: none;
}

.row100 .inputBox input:focus ~ .line,
.row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.row100 .inputBox textarea:focus ~ .text,
.row100 .inputBox textarea:valid ~ .text {
  top: -35px;
  left: -10px;
}

.row100 .inputBox textarea:focus ~ .line,
.row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: 2px solid #a79d9e;
  background: transparent;
  color: #e7e7e7;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px 30px;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  color: #eb9f0c;
}