footer {
  background: #111;
  padding: 20px 23px;
  color: #e7e7e7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-bottom: 0;
  }
}

footer span {
  color: #eb9f0c;
}