/* responsivnes */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 1050px) {
  .banner-wrapper {
    justify-content: center;
  }
  .project-right {
    flex: auto;
  }

  .project.reverse-column {
    flex-direction: column-reverse;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 80px;
  }

  .max-width {
    max-width: 800px;
  }

  .banner-wrapper {
    padding: 100px 180px 0 180px;
  }

  .banner-text {
    padding-top: 48px;
  }

  #subtitle {
    padding: 56px 56px 0 56px;
  }

  .project-wrapper {
    margin-bottom: 0;
  }

  // .reverse-column {
  //   flex-direction: column-reverse;
  // }
  // .project-wrapper:nth-child(3) .project {
  //   flex-direction: column;
  // }

  .section.contact {
    height: 65%;
  }

  .about .about-content {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }

  section.contact {
    height: auto;
  }

  .contact .contact-content {
    margin-bottom: 0;
  }

  .project-wrapper:last-child {
    padding-bottom: 24px;
  }
}

@media (max-width: 800px) and (max-height: 1280px) {
  .banner-text {
    padding-top: 80px;
  }

  #subtitle {
    padding: 80px 56px 0 56px;
    font-size: 32px;
  }

  section .title {
    font-size: 64px;
  }

  .contact .contact-content .column {
    width: 90%;
  }

  .project-links i {
    font-size: 40px;
  }

  #about-section {
    height: auto;
    padding-bottom: 80px;
  }
}

@media (max-width: 769px) and (max-height: 1025px) {
  .banner {
    height: auto;
    padding-bottom: 120px;
  }

  .night-sky {
    margin-bottom: 0;
  }
}

@media (max-width: 741px) and (max-height: 360px) {
  .banner {
    height: auto;
    padding-bottom: 0;
  }

  #subtitle {
    margin-bottom: 0;
    padding-bottom: 56px;
  }

  .night-sky {
    margin-bottom: 0;
  }
}

@media (max-width: 675px) {
  .banner-wrapper {
    padding-top: 56px;
  }
  #title {
    text-align: center;
    padding-top: 32px;
    line-height: 40px;
    font-size: 48px;
    letter-spacing: 10px;
  }
  #subtitle {
    padding-top: 24px;
    font-size: 18px;
  }
  .title-role {
    font-size: 16px;
    text-align: center;
    span {
      font-size: 10px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .max-width {
    padding: 0;
  }
  section .title {
    font-size: 40px;
    letter-spacing: 10px;
    padding: 0 40px;
  }

  #about-section {
    height: auto;
    padding: 40px 0;
  }

  #about-collapse-section {
    padding-bottom: 40px;
  }

  .about .about-content .right {
    padding: 0 40px;
  }

  .about .about-content .right p {
    letter-spacing: 1px;
    font-size: 16px;
  }

  .about .about-content .left img {
    height: 300px;
  }

  .project-wrapper {
    padding: 0;
    margin-bottom: 0;
    display: block;
  }

  .project-wrapper:last-child {
    padding-bottom: 40px;
  }

  .project {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .project-right {
    margin-bottom: 0;
    padding: 26px 40px;
  }

  .project-description p {
    font-size: 14px;
    text-align: justify;
  }

  .project-description {
    letter-spacing: 1px;
  }

  .project-links {
    margin-bottom: 0;
    a {
      margin-bottom: 0;
    }
  }

  .project-links a:first-child {
    padding-right: 8px;
  }

  .project-links i {
    font-size: 32px;
    margin-right: 16px;
  }

  .project-right ul li {
    font-size: 10px;
    text-align: center;
  }

  .project-right ul {
    margin: 16px 0;
  }

  .project-right ul li:last-child {
    margin-right: 0;
  }

  .project-links i:last-child {
    margin-right: 0;
  }

  .project-right.left a, .project-right.left p, .project-links.left {
    text-align: right;
  }

  .project-right.left > .project-description p {
    text-align: justify;
  }

  // .reverse-column {
  //   flex-direction: column-reverse;
  // }

  .contact .contact-content {
    padding: 0 40px;
  }

  .contact .max-width h2 {
    margin-bottom: 0;
  }

  .scroll-up-btn {
    right: 10px;
  }

  .contact .contact-content .column {
    width: 100%;
  }

  .about-collapse-info li, .about-collapse-info p {
    font-size: 16px;
  }

  .about-collapse-info li i {
    width: 20px;
  }

  .about-collapse-info {
    padding: 16px;
  }

  .about-collapse .max-width {
    padding: 0 40px;
  }

  #about-collapse-section h3 {
    font-size: 20px;
  }

  .about-collapse-info h5 {
    font-size: 18px;
  }

  .about-collapse-languges i {
    font-size: 26px;
  }

  .skill-icon-container,
  .about-collapse-languges h5 {
    padding-left: 8px;
  }
}

@media (max-width: 415px) {
  .banner {
    padding-bottom: 80px;
  }

  .banner-text {
    padding-top: 0;
  }

  .banner-moon {
    margin-bottom: 0;
  }

  section .title {
    font-size: 40px;
  }

  .project-left,
  .project-left.left {
    padding: 26px 40px;
  }

  .contact-content {
    margin-bottom: 0;
  }
}

@media (max-width: 376px) and (max-height: 812px) {
  .banner {
    padding-bottom: 0;
  }

  .banner-text {
    padding-top: 40px;
  }

  section .title {
    font-size: 32px;
  }

  section.contact {
    height: auto;
  }

  .project-wrapper:last-child {
    padding-bottom: 0;
  }

}

@media (max-width: 376px) and (max-height: 668px) {

  section .title {
    font-size: 32px;
  }

  .banner-text {
    padding-top: 0;
  }

  #subtitle {
    padding-top: 0;
  }

  .banner-moon {
    margin-bottom: 0;
  }

  .social {
    padding-bottom: 0;
  }

  section.contact {
    height: auto;
  }

  .social-links {
    padding-bottom: 40px;
  }

  .contact .contact-content .column {
    margin-bottom: 24px;
  }

  .contact .contact-content {
    margin-bottom: 0;
  }

  .project-wrapper:last-child {
    padding-bottom: 24px;
  }
}
