.project-wrapper {
  padding: 8px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-wrapper:last-child {
  padding-bottom: 80px;
}

.project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-left {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px;
  margin-bottom: 0;
}

.project-left.left {
  padding-right: 0;
  padding: 26px;
}

.project-left img {
 width: 100%;
 object-fit: cover;
 filter: grayscale(1);
 transition: all .3s;
 border-radius: 8px;
}

.project-left img:hover {
  filter: grayscale(0);
}

.project-right {
  flex: 35%;
  padding: 26px;
  margin-bottom: 0;
  ul {
    display: flex;
    list-style-type: none;
    opacity: 0.5;
    margin: 24px 0 16px 0;
  }
  ul li {
    margin-right: 16px;
  }
  a {
    font-size: clamp(24px, 5vw, 32px);
    font-weight: 600;
    line-height: 1.1;
    color: #d8d8d8;
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-bottom: 26px;
  }
  p {
    text-align: right;
    margin-bottom: 8px;
  }
}

.project-right.left {
  a, p {
    text-align: left;
  }
}

.project-description {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 16px;
  text-align: justify;
  letter-spacing: 4px;
  p {
    text-align: left;
    margin-bottom: 0;
  }
}

.project-links {
  text-align: right;
  opacity: .7;
  i {
    font-size: 32px;
    margin-right: 16px;
  }
}

.project-links.left {
  text-align: left;
}