 <div class="max-width">
  <h2 class="title">About me</h2>
  <div class="about-content">
    <div class="column left">
        <%= image_tag '/assets/images/coder.png', alt: 'Piotr' %>
    </div>
    <div class="column right">
        <div class="text">Hey, I'm Piotr.</div>
        <p>I've started my journey as a self-thought developer. After year and a half of studing myself,
            I've decided to join Le Wagon's bootcamp in Tokyo. Well-versed with Ruby and Javascript, I'm looking to kick off my dream career in web development.
        </p>
        <a href="#hobbies">Learn more</a>
    </div>
  </div>
</div>