 <div class="max-width">
  <h2 class="title">About me</h2>
  <div class="about-content">
    <div class="column left">
        <%= image_tag '/assets/images/coder.png', alt: 'Piotr' %>
    </div>
    <div class="column right">
        <div class="text">Hey, I'm Piotr.</div>
        <p>I've started my journey as a <span>self-tought developer</span>. After year and a half of studying myself,
            I've decided to join <span>Le Wagon's bootcamp</span> in Tokyo. Well-versed with <span>Ruby and Javascript</span>, I'm looking to kick off my dream career in web development.
        </p>
        <div id="collapse-button">Get to know me</div>
    </div>
  </div>
</div>