<div class="max-width">
  <div class="about-collapse-info">
    <div class="about-collapse-details">
      <div class="things-enjoy">
        <h3>Things I enjoy:</h3>
        <ul>
          <li>Video games, for being fun</li>
          <li>Moon, for being serene</li>
          <li>Foxes, for being mischivous</li>
          <li>Pizza, for being awesome </li>
          <li>Mountains, for being isolated </li>
        </ul>
      </div>
      <div class="things-learn">
        <h3>Things I'm learning:</h3>
        <p>React</p>
      </div>
      <div class="things-want">
        <h3>Things I want to build:</h3>
        <p>Web browser RPG game</p>
      </div>
    </div>
    <div class="about-collapse-languges">
      <h3>Things I know:</h3>
      <div class="languges">
        <h5>Languages</h5>
        <div class="skill-icon-container">
          <i class="devicon-ruby-plain"></i>
          <i class="devicon-javascript-plain"></i>
          <i class="devicon-html5-plain"></i>
          <i class="devicon-css3-plain"></i>
          <i class="devicon-postgresql-plain"></i>
        </div>
      </div>
      <div class="frameworks">
        <h5>Frameworks and Libraries</h5>
        <div class="skill-icon-container">
          <i class="devicon-rails-plain"></i>
          <i class="devicon-react-original"></i>
          <i class="devicon-bootstrap-plain"></i>
          <i class="devicon-sass-original"></i>
          <i class="devicon-github-original"></i>
        </div>
      </div>
      <div class="technologies">
        <h5>Other technologies</h5>
        <div class="skill-icon-container">
          <i class="devicon-git-plain"></i>
          <i class="devicon-heroku-original"></i>
          <i class="devicon-figma-plain"></i>
        </div>
      </div>
    </div>
  </div>
</div>

