<div class="project-wrapper">
  <div class="project">
    <div class="project-left">
      <%= image_tag "assets/images/mockup_1.jpg", alt: "aprooft" %>
    </div>
    <div class="project-right">
      <p>Featured Project</p>
      <a href="www.aprooft.com">Aprooft</a>
      <div class="project-description">
        <p>Aprooft is a tool to create a widget and bring social proofing to any website. User can add content to the widget by just adding Youtube or Reddit links, style it and generate code. No coding expierince is necessery. Aprooft gives user a way to measure the performance of selected widget with analytics dashboard.</p>
      </div>
      <ul>
        <li>Preact</li>
        <li>Ruby on Rails</li>
        <li>Javascript</li>
        <li>Youtube API</li>
        <li>Reddit API</li>
      </ul>
      <div class="project-links">
        <i class="fab fa-github"></i>
        <i class="fas fa-globe"></i>
      </div>
    </div>
  </div>
</div>