<div class="project-wrapper">
  <div class="project reverse-column">
    <div class="project-right left">
      <p>Featured Project</p>
      <a href="https://pettoren.herokuapp.com/">Pettoren</a>
      <div class="project-description">
        <p>Pettoren is an marketplace app for all user who can't own pets, but wish to spend more time surrounded by cute pets. Users can either create a pet's profile and make it available for others to rent or search through the database of pets. Calendar module, coded specifically for this app, allows users to choose multiple days for renting their pet. If a pet owner accepts the booking, his/her email is revealed for the other party.</p>
      </div>
      <ul>
        <li>Ruby on Rails</li>
        <li>Javascript</li>
        <li>SCSS</li>
        <li>Cloudinary</li>
        <li>Heroku</li>
      </ul>
      <div class="project-links left">
        <a class="external-links" href="https://github.com/pet-sitting/pettoren" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a class="external-links" href="https://pettoren.herokuapp.com/" target="_blank">
          <i class="fas fa-globe"></i>
        </a>
      </div>
    </div>
    <div class="project-left left">
      <%= image_tag "assets/images/mockup_2.jpg", alt: "pettoren", class: "img-right" %>
    </div>
  </div>
</div>