<div class="project-wrapper" style="margin-bottom: 0px;">
  <div class="project reverse-column">
    <div class="project-right left">
      <p>Featured Project</p>
      <a href="https://polanpio.github.io/simon-game/">Simon game</a>
      <div class="project-description">
        <p>Personal project. Simon game straight from the 80s. The user has to click the buttons in the correct order. The order is random every time the game is started. Game logic is entirely handled with Javascript.</p>
      </div>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
      </ul>
      <div class="project-links left">
        <a class="external-links" href="https://github.com/polanpio/simon-game" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a class="external-links" href="https://polanpio.github.io/simon-game/" target="_blank">
          <i class="fas fa-globe"></i>
        </a>
      </div>
    </div>
    <div class="project-left left">
      <%= image_tag "assets/images/mockup_4.jpg", alt: "pettoren", class: "img-right" %>
    </div>
  </div>
</div>