<div class="project-wrapper">
  <div class="project">
    <div class="project-left">
      <%= image_tag "assets/images/mockup_3.jpg", alt: "aprooft" %>
    </div>
    <div class="project-right">
      <p>Featured Project</p>
      <a href="https://polanpio.github.io/pokedex/">Pokedex</a>
      <div class="project-description">
        <p>Personal project. A simple pokedex build with PokeAPI. User can search through pokemon database, simply by giving an ID or going through it one entry at the time. Heavly CSS oriented project, backed up with Javascript calls to API to fetch the correct data. </p>
      </div>
      <ul>
        <li>CSS</li>
        <li>Javascript</li>
        <li>PokeAPI</li>
      </ul>
      <div class="project-links">
        <a class="external-links" href="https://github.com/polanpio/pokedex" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a class="external-links" href="https://polanpio.github.io/pokedex/" target="_blank">
          <i class="fas fa-globe"></i>
        </a>
      </div>
    </div>
  </div>
</div>