<div class="night-sky">
  <div class="banner-wrapper">
    <div class="banner-text">
      <div id="title">
        <div>
          Piotr
        </div>
        <div>
          Polanski
        </div>
      </div>
      <div class="title-role">
        <p>Full-stack Developer <span>by trade</span></p>
        <p>Japanologist <span>by heart</span></p>
      </div>
    </div>
    <div class="banner-moon">
      <div class="moon-wrapper">
        <div class="moon"></div>
      </div>
    </div>
  </div>
  <div id="subtitle">
    <div>
      <a href="#about-section">
        ABOUT
      </a>
    </div>
    <div>
      <a href="#projects-section">
        PROJECTS
      </a>
    </div>
    <div>
      <a href="#contact-section">
        CONTACT
      </a>
    </div>
  </div>
  <div class="stars-background"></div>
  <div class="commets-wrapper"></div>
</div>