<div class="project-wrapper">
  <div class="project">
    <div class="project-left">
      <%= image_tag "assets/images/mockup_1.jpg", alt: "aprooft" %>
    </div>
    <div class="project-right">
      <p>Featured Project</p>
      <a href="www.aprooft.com">Aprooft</a>
      <div class="project-description">
        <p>Aproft is a tool to create a widget and bring social proofing to your website</p>
      </div>
      <ul>
        <li>Preact</li>
        <li>Ruby on Rails</li>
        <li>Javascript</li>
        <li>Youtube API</li>
        <li>Reddit API</li>
      </ul>
      <div class="project-links">
        <i class="fab fa-github"></i>
        <i class="fas fa-external-link-alt"></i>
      </div>
    </div>
  </div>
</div>