<div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
  </div>
  <section class="banner">
    <div class="night-sky">
      <div id="title">
        <div>
          Piotr
        </div>
        <div>
          Polanski
        </div>
      </div>
      <div>
        <p>Full-stack Developer <span>by trade</span> </p>
        <p>Japanologist <span>by heart</span></p>
      </div>
      <div id="subtitle">
        <div>
          <a href="#about-section">
            ABOUT
          </a>
        </div>
        <div>
          <a href="#projects-section">
            PROJECTS
          </a>
        </div>
        <div>
          <a href="#contact-section">
            CONTACT
          </a>
        </div>
      </div>
    </div>
    <div class="stars-background"></div>
    <div class="moon-wrapper">
      <div class="moon"></div>
    </div>
    <div class="commets-wrapper"></div>
  </section>
  <section class="about" id="about-section">
    <div class="max-width">
      <h2 class="title">About me</h2>
      <div class="about-content">
        <div class="column left">
            <%= image_tag '/assets/images/coder.png', alt: 'Piotr' %>
        </div>
        <div class="column right">
            <div class="text">Hey, I'm Piotr.</div>
            <p>I've started my journey as a self-thought developer. After year and a half of studing myself,
                I've decided to join Le Wagon's bootcamp in Tokyo. Well-versed with Ruby and Javascript, I'm looking to kick off my dream career in web development.
            </p>
            <a href="#hobbies">Learn more</a>
        </div>
    </div>
  </div>
  </section>
  <section id="projects-section">

  </section>
  <section class="contact" id="contact">
    <div class="max-width">
            <h2 class="title">Contact me</h2>
            <div class="contact-content">
                <div class="column right">
                    <%# <form action="#">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" placeholder="Name" required>
                            </div>
                            <div class="field email">
                                <input type="email" placeholder="Email" required>
                            </div>
                        </div>
                            <div class="field">
                                <input type="text" placeholder="Subject" required>
                            </div>
                            <div class="field textarea">
                                <textarea cols="30" rows="10" placeholder="Describe project.." required></textarea>
                            </div>
                            <div class="button">
                                <button type="submit">Send message</button>
                            </div>
                    </form> %>
                    <div class="row100">
                      <div class="col">
                        <div class="inputBox">
                          <input type="text" name="" required="required">
                          <span class="text">Name</span>
                          <span class="line"></span>
                        </div>
                      </div>
                      <div class="col">
                        <div class="inputBox">
                          <input type="text" name="" required="required">
                          <span class="text">Email</span>
                          <span class="line"></span>
                        </div>
                      </div>
                      <div class="col">
                        <div class="inputBox">
                          <input type="text" name="" required="required">
                          <span class="text">Subject</span>
                          <span class="line"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row100">
                      <div class="col">
                        <div class="inputBox textarea">
                          <textarea name="" required="required" cols="30" rows="10"></textarea>
                          <span class="text">Message</span>
                          <span class="line"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row100">
                      <div class="col">
                        <input type="submit" value="Send Message">
                      </div>
                    </div>
                </div>
            </div>
        </div>
  </section>
  <footer>
        <p>Created by <span>piotr</span></p>
  </footer>
